USE [Fransch]
GO
/****** Object:  Table [dbo].[Cardapio]    Script Date: 31/01/2017 22:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cardapio](
	[CAR_CodigoCardapio] [numeric](18, 0) NOT NULL,
	[CAR_CodigoProduto] [numeric](18, 0) NOT NULL,
	[CAR_OrdemProduto] [char](4) NULL,
	[CAR_TipoCardapio] [char](1) NULL,
	[CAR_Frequencia] [numeric](18, 0) NOT NULL,
	[CAR_Desconto] [float] NULL,
 CONSTRAINT [PK_Cardapio] PRIMARY KEY CLUSTERED 
(
	[CAR_CodigoCardapio] ASC,
	[CAR_CodigoProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CodigoPagamento]    Script Date: 31/01/2017 22:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodigoPagamento](
	[CP_Codigo] [char](4) NOT NULL,
	[CP_Descricao] [char](50) NOT NULL,
 CONSTRAINT [PK_codigoPagamento] PRIMARY KEY CLUSTERED 
(
	[CP_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ControleSistema]    Script Date: 31/01/2017 22:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControleSistema](
	[CS_Protocolo] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CS_Loja] [char](10) NOT NULL,
	[CS_Usuario] [numeric](18, 0) NOT NULL,
	[CS_Situacao] [char](1) NOT NULL,
	[CS_DataInicial] [datetime] NOT NULL,
	[CS_DataFinal] [datetime] NULL,
 CONSTRAINT [PK_ControleSistema_1] PRIMARY KEY CLUSTERED 
(
	[CS_Protocolo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FamiliaProduto]    Script Date: 31/01/2017 22:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaProduto](
	[FAP_CodigoFamilia] [char](10) NOT NULL,
	[FAP_Descricao] [char](50) NULL,
	[FAP_SubFamilia] [char](10) NULL,
	[FAP_ComplementoAdicional] [int] NULL,
 CONSTRAINT [PK_FamiliaProduto] PRIMARY KEY CLUSTERED 
(
	[FAP_CodigoFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItensVenda]    Script Date: 31/01/2017 22:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItensVenda](
	[ITV_NotaFiscal] [numeric](18, 0) NOT NULL,
	[ITV_Serie] [char](3) NOT NULL,
	[ITV_Item] [int] NOT NULL,
	[ITV_Loja] [char](10) NOT NULL,
	[ITV_CodigoProduto] [numeric](18, 0) NOT NULL,
	[ITV_CodigoCardapio] [numeric](18, 0) NULL,
	[ITV_Quantidade] [numeric](18, 0) NULL,
	[ITV_PrecoUnitario] [float] NULL,
	[ITV_SubProduto] [char](10) NULL,
 CONSTRAINT [PK_ItensVenda] PRIMARY KEY CLUSTERED 
(
	[ITV_NotaFiscal] ASC,
	[ITV_Serie] ASC,
	[ITV_Item] ASC,
	[ITV_Loja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pagamento]    Script Date: 31/01/2017 22:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamento](
	[PGT_NotaFiscal] [numeric](18, 0) NOT NULL,
	[PGT_Serie] [char](3) NOT NULL,
	[PGT_Sequencia] [int] IDENTITY(1,1) NOT NULL,
	[PGT_Loja] [char](10) NOT NULL,
	[PGT_Caixa] [int] NULL,
	[PGT_Operador] [int] NULL,
	[PGT_FormaPagamento] [char](4) NULL,
	[PGT_Valor] [float] NULL,
 CONSTRAINT [PK_Pagamento] PRIMARY KEY CLUSTERED 
(
	[PGT_NotaFiscal] ASC,
	[PGT_Serie] ASC,
	[PGT_Sequencia] ASC,
	[PGT_Loja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProdutoImagem]    Script Date: 31/01/2017 22:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutoImagem](
	[PRI_CodigoFamilia] [numeric](18, 0) NOT NULL,
	[PRI_Imagem] [image] NULL,
 CONSTRAINT [PK_ProdutoImagem] PRIMARY KEY CLUSTERED 
(
	[PRI_CodigoFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProdutoLoja]    Script Date: 31/01/2017 22:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutoLoja](
	[PRO_Codigo] [numeric](18, 0) NOT NULL,
	[PRO_CodigoBarras] [char](14) NULL,
	[PRO_Descricao] [char](50) NULL,
	[PRO_DescricaoMenu] [char](50) NULL,
	[PRO_NCM] [char](8) NULL,
	[PRO_ICMS] [float] NULL,
	[PRO_CST] [float] NULL,
	[PRO_IPI] [float] NULL,
	[PRO_PrecoVenda1] [float] NULL,
	[PRO_PrecoVenda2] [float] NULL,
	[PRO_PrecoVenda3] [float] NULL,
	[PRO_PrecoVenda4] [float] NULL,
	[PRO_PrecoVenda5] [float] NULL,
	[PRO_Unidade] [char](3) NULL,
	[PRO_Familia] [char](10) NULL,
	[PRO_DataCadastro] [datetime] NULL,
	[PRO_TipoProduto] [char](1) NULL,
	[PRO_ComplementoAdicional] [int] NOT NULL,
	[PRO_Situacao] [char](2) NULL,
 CONSTRAINT [PK_ProdutoLoja] PRIMARY KEY CLUSTERED 
(
	[PRO_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[produtolojasalva]    Script Date: 31/01/2017 22:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtolojasalva](
	[PRO_Codigo] [numeric](18, 0) NOT NULL,
	[PRO_CodigoBarras] [char](14) NULL,
	[PRO_Descricao] [char](50) NULL,
	[PRO_NCM] [char](8) NULL,
	[PRO_ICMS] [float] NULL,
	[PRO_CST] [float] NULL,
	[PRO_IPI] [float] NULL,
	[PRO_PrecoVenda1] [float] NULL,
	[PRO_PrecoVenda2] [float] NULL,
	[PRO_PrecoVenda3] [float] NULL,
	[PRO_PrecoVenda4] [float] NULL,
	[PRO_PrecoVenda5] [float] NULL,
	[PRO_Unidade] [char](3) NULL,
	[PRO_Familia] [char](10) NULL,
	[PRO_DataCadastro] [datetime] NULL,
	[PRO_Situacao] [char](2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 31/01/2017 22:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[US_Codigo] [numeric](18, 0) NOT NULL,
	[US_Nome] [char](50) NULL,
	[US_TipoUsuario] [int] NULL,
	[US_Senha] [char](4) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[US_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CodigoPagamento] ([CP_Codigo], [CP_Descricao]) VALUES (N'0100', N'Dinheiro                                          ')
INSERT [dbo].[CodigoPagamento] ([CP_Codigo], [CP_Descricao]) VALUES (N'0200', N'Cheque                                            ')
INSERT [dbo].[CodigoPagamento] ([CP_Codigo], [CP_Descricao]) VALUES (N'0300', N'Alimentação                                       ')
SET IDENTITY_INSERT [dbo].[ControleSistema] ON 

INSERT [dbo].[ControleSistema] ([CS_Protocolo], [CS_Loja], [CS_Usuario], [CS_Situacao], [CS_DataInicial], [CS_DataFinal]) VALUES (CAST(1 AS Numeric(18, 0)), N'0         ', CAST(0 AS Numeric(18, 0)), N'F', CAST(N'2014-11-24T08:44:07.990' AS DateTime), CAST(N'2014-11-24T10:55:04.627' AS DateTime))
INSERT [dbo].[ControleSistema] ([CS_Protocolo], [CS_Loja], [CS_Usuario], [CS_Situacao], [CS_DataInicial], [CS_DataFinal]) VALUES (CAST(2 AS Numeric(18, 0)), N'0         ', CAST(2 AS Numeric(18, 0)), N'F', CAST(N'2014-11-24T10:55:11.807' AS DateTime), CAST(N'2014-11-24T10:55:20.947' AS DateTime))
INSERT [dbo].[ControleSistema] ([CS_Protocolo], [CS_Loja], [CS_Usuario], [CS_Situacao], [CS_DataInicial], [CS_DataFinal]) VALUES (CAST(3 AS Numeric(18, 0)), N'0         ', CAST(0 AS Numeric(18, 0)), N'F', CAST(N'2014-11-24T10:56:40.800' AS DateTime), CAST(N'2014-11-24T11:12:55.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[ControleSistema] OFF
INSERT [dbo].[FamiliaProduto] ([FAP_CodigoFamilia], [FAP_Descricao], [FAP_SubFamilia], [FAP_ComplementoAdicional]) VALUES (N'0010      ', N'CREPE SALGADO                                     ', N'9910      ', 1)
INSERT [dbo].[FamiliaProduto] ([FAP_CodigoFamilia], [FAP_Descricao], [FAP_SubFamilia], [FAP_ComplementoAdicional]) VALUES (N'0011      ', N'CREPE DOCE                                        ', N'9902      ', 0)
INSERT [dbo].[FamiliaProduto] ([FAP_CodigoFamilia], [FAP_Descricao], [FAP_SubFamilia], [FAP_ComplementoAdicional]) VALUES (N'0020      ', N'CHURROS                                           ', N'9903      ', 0)
INSERT [dbo].[ItensVenda] ([ITV_NotaFiscal], [ITV_Serie], [ITV_Item], [ITV_Loja], [ITV_CodigoProduto], [ITV_CodigoCardapio], [ITV_Quantidade], [ITV_PrecoUnitario], [ITV_SubProduto]) VALUES (CAST(4 AS Numeric(18, 0)), N'CF ', 1, N'0         ', CAST(11 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), 4.5, N'          ')
INSERT [dbo].[ItensVenda] ([ITV_NotaFiscal], [ITV_Serie], [ITV_Item], [ITV_Loja], [ITV_CodigoProduto], [ITV_CodigoCardapio], [ITV_Quantidade], [ITV_PrecoUnitario], [ITV_SubProduto]) VALUES (CAST(5 AS Numeric(18, 0)), N'CF ', 1, N'0         ', CAST(12 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), 4.5, N'          ')
INSERT [dbo].[ItensVenda] ([ITV_NotaFiscal], [ITV_Serie], [ITV_Item], [ITV_Loja], [ITV_CodigoProduto], [ITV_CodigoCardapio], [ITV_Quantidade], [ITV_PrecoUnitario], [ITV_SubProduto]) VALUES (CAST(5 AS Numeric(18, 0)), N'CF ', 2, N'0         ', CAST(15 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), 4.5, N'          ')
SET IDENTITY_INSERT [dbo].[Pagamento] ON 

INSERT [dbo].[Pagamento] ([PGT_NotaFiscal], [PGT_Serie], [PGT_Sequencia], [PGT_Loja], [PGT_Caixa], [PGT_Operador], [PGT_FormaPagamento], [PGT_Valor]) VALUES (CAST(2 AS Numeric(18, 0)), N'CF ', 41, N'0         ', 0, 0, N'0100', 4.5)
INSERT [dbo].[Pagamento] ([PGT_NotaFiscal], [PGT_Serie], [PGT_Sequencia], [PGT_Loja], [PGT_Caixa], [PGT_Operador], [PGT_FormaPagamento], [PGT_Valor]) VALUES (CAST(4 AS Numeric(18, 0)), N'CF ', 56, N'0         ', 0, 1, N'0100', 4.5)
INSERT [dbo].[Pagamento] ([PGT_NotaFiscal], [PGT_Serie], [PGT_Sequencia], [PGT_Loja], [PGT_Caixa], [PGT_Operador], [PGT_FormaPagamento], [PGT_Valor]) VALUES (CAST(5 AS Numeric(18, 0)), N'CF ', 57, N'0         ', 0, 0, N'0500', 9)
SET IDENTITY_INSERT [dbo].[Pagamento] OFF
INSERT [dbo].[produtolojasalva] ([PRO_Codigo], [PRO_CodigoBarras], [PRO_Descricao], [PRO_NCM], [PRO_ICMS], [PRO_CST], [PRO_IPI], [PRO_PrecoVenda1], [PRO_PrecoVenda2], [PRO_PrecoVenda3], [PRO_PrecoVenda4], [PRO_PrecoVenda5], [PRO_Unidade], [PRO_Familia], [PRO_DataCadastro], [PRO_Situacao]) VALUES (CAST(1 AS Numeric(18, 0)), N'1             ', N'CREPE MÉDIO                                       ', N'88888888', 18, 0, 0, 4.5, 4, 3.5, 3, 2.5, N'PC ', N'0100      ', CAST(N'2014-10-13T19:10:28.583' AS DateTime), N'A ')
INSERT [dbo].[produtolojasalva] ([PRO_Codigo], [PRO_CodigoBarras], [PRO_Descricao], [PRO_NCM], [PRO_ICMS], [PRO_CST], [PRO_IPI], [PRO_PrecoVenda1], [PRO_PrecoVenda2], [PRO_PrecoVenda3], [PRO_PrecoVenda4], [PRO_PrecoVenda5], [PRO_Unidade], [PRO_Familia], [PRO_DataCadastro], [PRO_Situacao]) VALUES (CAST(2 AS Numeric(18, 0)), N'2             ', N'CREPE GRANDE                                      ', N'88888888', 18, 0, 0, 4.5, 4, 3.5, 3, 2.5, N'PC ', N'0100      ', CAST(N'2014-10-13T19:11:07.753' AS DateTime), N'A ')
INSERT [dbo].[produtolojasalva] ([PRO_Codigo], [PRO_CodigoBarras], [PRO_Descricao], [PRO_NCM], [PRO_ICMS], [PRO_CST], [PRO_IPI], [PRO_PrecoVenda1], [PRO_PrecoVenda2], [PRO_PrecoVenda3], [PRO_PrecoVenda4], [PRO_PrecoVenda5], [PRO_Unidade], [PRO_Familia], [PRO_DataCadastro], [PRO_Situacao]) VALUES (CAST(3 AS Numeric(18, 0)), N'3             ', N'CREPE DOCE MÉDIO                                  ', N'88888888', 18, 0, 0, 4.5, 4, 3.5, 3, 2.5, N'PC ', N'0200      ', CAST(N'2014-10-13T19:11:48.890' AS DateTime), N'A ')
INSERT [dbo].[Usuario] ([US_Codigo], [US_Nome], [US_TipoUsuario], [US_Senha]) VALUES (CAST(0 AS Numeric(18, 0)), N'Gerente                                           ', 1, N'1010')
INSERT [dbo].[Usuario] ([US_Codigo], [US_Nome], [US_TipoUsuario], [US_Senha]) VALUES (CAST(1 AS Numeric(18, 0)), N'Renata                                            ', 1, N'1010')
INSERT [dbo].[Usuario] ([US_Codigo], [US_Nome], [US_TipoUsuario], [US_Senha]) VALUES (CAST(2 AS Numeric(18, 0)), N'Julia                                             ', 1, N'1010')
ALTER TABLE [dbo].[ProdutoLoja] ADD  CONSTRAINT [DF__ProdutoLo__PRO_C__15502E78]  DEFAULT ((0)) FOR [PRO_ComplementoAdicional]
GO
